[server]
name = saas
mode = debug        # possible values : release, debug
port = 8080
url =
file =

[database]
driver = mysql
host = 127.0.0.1
port = 3306
database = saas
username = root
password =
charset = utf8mb4
collation = utf8mb4_unicode_ci
prefix =

[redis]
host = 127.0.0.1
auth =
port = 6379
db = 1
cache_prefix =
cache_ttl =

[qiniu]
access =
secret =
bucket =
domain =

[jwt]
secret =
leeway =

[amqp]
host =
port =
username =
password =
vhost =